<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Risk Assessment - Remote Tech{% endblock %}</title>
  <link rel="icon" href="">
{#  <link rel="stylesheet" href="{{ asset('styles/style.css') }}">#}

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
{#    <script src="{{ app.request.server.get('APP_WIDGET_URL') }}"></script>#}
    <script src="{{ app.request.server.get('AXE_API_HOST') }}/app_widget/app_launcher_widget.js"></script>
    <script defer type="text/javascript">
        appLauncher.initPlugin('btnOpenModal');
    </script>


{#    {{ importmap('app') }}#}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>

<body class="bg-light vh-100" data-turbo="false">

<!-- App Flash Messages displayed as toasts -->
{% for type, messages in app.flashes %}
  {% for message in messages %}
    <div {{ stimulus_controller('toasts', {type: type, message: message }) }}>
    </div>
  {% endfor %}
{% endfor %}

<div class="d-flex flex-column flex-lg-row overflow-hidden h-100">
  {% set domain = 'Risk Assessment' %}

  {% block header %} {% endblock %}
  {% block sidebar %} {% endblock %}


  <div class="d-flex flex-column position-relative overflow-auto h-100 w-100">
    {% block body %}{% endblock %}
  </div>

  {% block footer %}{% endblock %}
</div>
{% block confirm_modal %}
  {% include 'partials/confirmationModal.html.twig' %}
{% endblock %}

{% block form_modal %}
  {% include 'partials/baseFormModal.html.twig' %}
{% endblock %}

<div id="loader" style="display: none;">
  <div class="spinner"></div>
</div>
</body>
</html>
