<turbo-frame id="modal-body">
  {% if accessDeniedError is not defined or accessDeniedError is same as null %}
    {{ form_start(form, {'attr':{'autocomplete': 'off', 'data-reload-frame-id': 'tabs-content'}}) }}
    {{ form_errors(form) }}
    {% block modalFormFields %}
      {{ form_rest(form) }}
    {% endblock %}
    <!-- Submit -->
    <div class="d-flex flex-row gap-2 justify-content-center border-top-0">
      <button id="submitUserInfo" type="submit" formnovalidate="formnovalidate"
              class="btn btn-primary text-center w-100">Save
      </button>
    </div>
    {{ form_end(form) }}
  {% else %}
    <div class="alert bg-danger bg-opacity-10 border border-danger rounded px-2 py-1 mb-3 d-block">
      <div class="d-flex gap-3 align-items-center">
        <i class="bi bi-exclamation-triangle-fill text-danger fs-2"></i>
        <div class="d-flex flex-column justify-content-center">
          <p class="small">{{ accessDeniedError }}</p>
        </div>
        <button type="button" class="btn-close ms-auto me-0" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  {% endif %}
</turbo-frame>